extends main.pug
block content
  main
  a(href="./todos/new") Create
  ul 
    each todo in todos
      li= todo.name+"  "
      if todo.isDone
        input(type="checkbox" name="isDone" checked disabled)
      else
        input(type="checkbox" name="isDone" disabled)
      a(href="./todos/"+todo._id) detail 
      a(href="./todos/"+todo._id+"/edit") edit 
      form(action="./todos/"+todo._id+"?_method=DELETE" method="POST" style="display: inline")
        button(type="submit") delete